/*
 * This file has been created by the Vaadin Theme Editor. Please note that
 * manual changes to individual CSS properties may be overwritten by the theme editor.
 */
vaadin-grid {
  border-style:solid;
  border-width:2px;
}

vaadin-grid::part(header-cell) {
  --lumo-font-size-s:var(--lumo-font-size-l);
  font-weight:bold;
}

vaadin-text-area::part(input-field) {
  height:100px;
  width:300px;
}

vaadin-text-field::part(input-field) {
  height:var(--lumo-size-m);
}
