/*
 * This file has been created by the Vaadin Theme Editor. Please note that
 * manual changes to individual CSS properties may be overwritten by the theme editor.
 */
h1.main-layout-h1-1 { padding:var(--lumo-space-s); }

hr {
  border-width:0px;
  font-size:var(--lumo-font-size-s);
  padding:1px;
}

span {
  font-size:var(--lumo-font-size-s);
  font-weight:bold;
}

vaadin-button { --lumo-button-size:var(--lumo-size-xs); }

vaadin-button.header-layout-button-1 { --lumo-button-size:var(--lumo-size-m); }

vaadin-button.navigation-layout-button-1 {
  --lumo-button-size:var(--lumo-size-xs);
  border-radius:var(--lumo-border-radius-m);
  padding-inline:8px;
}

vaadin-button.navigation-layout-button-1::part(label) { font-size:var(--lumo-font-size-xxs); }

vaadin-grid {
  border-style:solid;
  border-width:2px;
}

vaadin-grid::part(header-cell) {
  --lumo-font-size-s:var(--lumo-font-size-l);
  font-weight:bold;
}

vaadin-icon { font-size:8px; }

vaadin-icon.header-layout-button-1 { font-size:var(--lumo-font-size-m); }

vaadin-side-nav-item::part(link) { font-size:var(--lumo-font-size-s); }

vaadin-text-field::part(input-field) { height:var(--lumo-size-m); }
